@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Bungee+Shade&family=Cantarell&family=Cherry+Swash&family=DM+Sans&family=DM+Serif+Display&family=Fjalla+One&family=Flamenco&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Nabla&family=Oswald&family=Ribeye+Marrow&family=Sancreek&family=Source+Sans+Pro&family=Special+Elite&family=Ubuntu&family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', 'Cherry Swash', sans-serif;
  color: #eee;
  background-image: url('../src/img/bg-clark-board.png');
  object-fit: cover;
}

