@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Bungee+Shade&family=Cantarell&family=Cherry+Swash&family=DM+Sans&family=DM+Serif+Display&family=Fjalla+One&family=Flamenco&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Nabla&family=Oswald&family=Ribeye+Marrow&family=Sancreek&family=Source+Sans+Pro&family=Special+Elite&family=Ubuntu&family=Yeseva+One&display=swap');

/* Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', 'Cherry Swash', sans-serif;
  color: #eee;
  background-image: url('../src/img/bg-clark-board.png');
  object-fit: cover;
}

/* Layout */

header {
  position: relative;
  height: 20rem;
}

main {
  height: 65vh;
  color: #eee;
  border-top: 7px solid #eee;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-box-bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem;
}

.left {
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.right {
  width: 55rem;
  font-size: 2rem;
  padding: 2rem 2rem 2rem 15rem;
}

/* Elements Style*/

#title {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 4rem;
  font-family: 'Ribeye Marrow', 'Bungee Shade', 'Sancreek', 'Nabla', monospace;
}

.between {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.new-game {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.current-guess {
  font-size: 6rem;
  background: #ffffffe7;
  color: #000000;
  text-align: center;
  width: 15rem;
  padding: 3rem 0rem;
  margin-top: 2rem;
}

